<h1>{{product.title}}</h1>

<p><b>Descripción:</b> {{product.description}}</p>

<p><b>Precio:</b> ${{product.price}}</p>

<p><b>Categoría:</b> {{product.category}}</p>

<p><b>Stock:</b> {{product.stock}}</p>

<br>

<a href="/products">
<button>Volver a productos</button>
</a>